{% macro render_item(item, submenu=False) %}
{% if item.child_items %}
<li class="nav-item dropdown {% if submenu %} dropdown-submenu {% endif %}">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
  	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ item.label }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		{% for child in item.child_items %}
			{{ render_item(child, True) }}
	  {% endfor %}
	</ul>
</li>
{% else %}
	<li class="nav-item">
		<a class="nav-link" href="{{ (item.url or '')|abs_url }}"
			{{ item.target or ''}}>
			{{ item.label }}
		</a>
	</li>
{% endif %}

{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
	<div class="container">
	<a class="navbar-brand" href="{{ url_prefix }}{{ home_page or "/"}}">
		<span>{{ brand_html or (frappe.get_hooks("brand_html") or ["Home"])[0] }}</span>
	</a>
	<button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

  <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{%- for item in top_bar_items -%}
				{% if not item.parent_label -%}
					{{ render_item(item) }}
				{% endif %}
			{%- endfor %}
		</ul>

    <ul class="navbar-nav ml-auto justify-content-end">
			{% include("rigpl_erpnext/templates/includes/navbar/navbar_login.html") %}
		</ul>
  </div>
</nav>
<div class="navigation-container">

</div>