@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "multilevel-dropdown";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');


body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

.navbar:first-child {
	border-top: 5px solid $primary;
}

.navbar.bg-dark {
	.dropdown-menu {
		font-size: .75rem;
		background-color: $dark;
		border-radius: 0;
	}

	.nav-link {
		white-space: nowrap;
		color: $light;

		&:hover {
			color: $primary;
		}
	}

	.nav-item {
		padding: 0rem 1rem;
	}

	.dropdown-item {
		color: $light;

		&:hover {
			background-color: $dark;
			color: $primary;
		}
	}
}


.input-dark {
	background-color: $dark;
	border-color: darken($primary, 40%);
	color: $light;
}

.breadcrumb {
	font-size: 0.75rem;
}

a.card {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.hidden {
	@extend .d-none;
}

.video-background {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: var(--dark);
		opacity: 0.4;
	}
}

.hero-section {
	background-size: cover;
}

.btn-primary {
	color: $white;
}

.text-underline {
	text-decoration: underline;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
	border-color: #ced5db;
}

.panel-bg {
    background-color: #f7fafc;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f7fafc;
    border-color: #ced5db;
}

.panel-heading, .panel-body {
    padding-left: 15px;
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
	border-radius: 6px;
}

.frappe-chat .dropdown-toggle::after {
	content: none;
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.avatar-medium {
    margin-right: 5px;
}

.media-middle {
    vertical-align: middle;
}

.standard-image {
    width: 100%;
    height: 0;
    padding: 50% 0;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    line-height: 0px;
    color: #d1d8dd;
    border: 1px solid #d1d8dd;
    font-weight: normal;
	margin-top: -1px;
}

.frappe-fab {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin: 20px;
    width: 48px;
    height: 48px;
}

.fa-fw.fa-times {
	width: auto;
}