<div class="container-fluid bg-dark sticky pb-3 pb-md-0">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				{% if not no_breadcrumbs and parents %}
				<ul class="breadcrumb bg-dark rounded-0 px-0 mb-1" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					{%- set parents = parents[-3:] %}
					{% for parent in parents %}
						<li class="breadcrumb-item">
							<a href="{{ url_prefix }}{{ parent.route | abs_url }}" itemprop="url">
								<span itemprop="title">{{ parent.title or parent.label or parent.name or "" }}</span>
							</a>
						</li>
					{% endfor %}
					<li class="breadcrumb-item active text-light">
						<span itemprop="title">{{ title or "" }}</span>
					</li>
				</ul>
				{% endif %}
			</div>
			<div class="col-md-3">
				{% if show_search %}
				{% include 'templates/includes/search_box.html' %}
				{% endif %}
			</div>
		</div>
	</div>
</div>