{% from "erpnext/templates/includes/macros.html" import product_image_square %}

<div class="col-md-6 mb-4">
	<div class="media p-3 border rounded">
		<a href="{{ route | abs_url }}">
			{%- set image_url = thumbnail or website_image or image %}
			{%- set item_title = item_name or name %}

			{% if image_url %}
				<img class="product-image" src="{{ image_url }}" alt="{{ item_name }}">
			{% else %}
				<div class="product-image missing-image text-white-50">{{ item_title[0] }}</div>
			{% endif %}
		</a>
		<div class="media-body ml-3">
			<h5 class="mt-0">
				<a class="text-dark" href="{{ route | abs_url }}">
					{{ item_name or name }}
				</a>
			</h5>
			{% if website_description != item_name %}
				<p>{{ website_description or description }}</p>
			{% endif %}
			<a href="{{ route | abs_url }}" class="btn btn-sm btn-light">{{ _('More details') }}</a>
		</div>
	</div>
</div>

<style>
	.product-image {
		height: 10rem;
		width: 10rem;
		object-fit: contain;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 6rem;
	}
</style>